<div class="row">
  <div class="small-12 large-8 large-offset-2 columns">
    <h2>Login</h2>
      <%= form_tag sessions_path do %>
        <div>
          <%= label_tag :email %>
          <%= email_field_tag :email %>
        </div>
        <div>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
        <div class="submit-button">
          <%= submit_tag 'Sign In', class: "button" %>
        </div>
      <% end %>
    </div>
    <%= link_to 'Back', sessions_path %>
</div>
