<div class="row featured-products">
  <div class="small-12 small-offset-1 medium-10 medium-offset-1 large-10 large-offset-1 columns">
    <h6 class="featured-header">Featured Products</h6>
      <div class="row">
        <div class="featured-product small-10 medium-6 large-4 columns">
          <a href="/products/30"><%= image_tag("tea.png", class:"featured-img") %></a>
          <a href="/products/30"><p class="featured-title"><strong>Cuppa Tea</strong></p></a>
        </div>
        <div class="featured-product small-10 medium-6 large-4 columns">
          <a href="/products/31"><%= image_tag("bonnet.png", class:"featured-img") %></a>
          <a href="/products/31"><p class="bonnet-title"><strong>Elegant Hat</strong></p></a>
        </div>
        <div class="featured-product small-10 medium-6 large-4 columns">
          <a href="/products/4"><%= image_tag("royaldentures.png", class:"featured-img dentures") %></a>
          <a href="/products/4"><p class="denture-title"><strong>The Queen's Dentures</strong></p></a>
        </div>
        <div class="featured-product small-10 medium-6 large-4 columns">
          <a href="/products/29"><%= image_tag("boris.png", class:"featured-img") %></a>
          <a href="/products/29"><p class="featured-title"><strong>Boris Johnson Bobblehead</strong></p></a>
        </div>
        <div class="featured-product small-10 medium-6 large-4 columns">
          <a href="/products/2"><%= image_tag("jumper.png", class:"featured-img") %></a>
          <a href="/products/2"><p class="bonnet-title"><strong>Itchy Wool Jumper</strong></p></a>
        </div>
        <div class="featured-product small-10 medium-6 large-4 columns">
          <a href="/products/5"><%= image_tag("austen.png", class:"featured-img austen") %></a>
          <a href="/products/5"><p class="featured-title"><strong>Pride and Prejudice</strong></p></a>
        </div>
      </div>
  </div>
</div>
