<div class="row cart-summary">
  <div id="mycart" class="small-12 medium-10 medium-offset-1 large-8 large-offset-3 columns">
    <h6>My Cart</h6>
    <p class="cart-message"> You currently have <span class="cart-count"><%= pluralize(current_user.cart_count, "product") %></span> in your cart.</p>

  <% @cart_products.each do |product|%>
  <div data-equalizer class="cart-product large-12 column">
    <div class="column large-2" data-equalizer-watch>
      <%=link_to product do %>
        <%=image_tag product.image, class: "cart-product"%>
      <%end%>
    </div>
    <div class="column large-8 text-center" data-equalizer-watch>
        <p class="scale"> <%= product.title %> </p>
    </div>
    <div class="column large-2" data-equalizer-watch>
      <%=link_to "" , data: {targetUrl: remove_from_cart_path(product)} do%>
        <i class="fa fa-times-circle-o" aria-hidden="true"></i><p>Remove<p>
      <%end%>
      <h4 class="scale"><%= quid(product.price) %></h4>
    </div>
  </div>
  <%end%>
  <%= quid(current_user.cart_total_price) %>

  <%=link_to "Checkout", new_transaction_path, class: "button" unless current_user.get_cart_products.blank?%>
</div>
