<p id="notice"><%= notice %></p>

<h3> Products under <%= @category.name %> </h3>
  <% if @products.blank? %>
    <p>No products found <p>
  <% else %>
    <% Product.where(category_id: @category.id).each do |product| %>
    <li> <%= product.title %> </li>
    <% end %>
  <% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
