<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
      <div class="field">
        <%= f.label :details %>
        <%= f.text_area :details %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
      <div class="field">
        <%= f.label :category %>
        <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true, selected: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
      <div class="field">
        <%= f.label :price %>
        <%= f.text_field :price %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
      <div class="actions">
        <%= f.submit class: 'button' %>
      </div>
    </div>
  </div>
<% end %>
