<!-- Shipping Info -->
<div class="row shipping-info">
  <div class="shipping-info-content columns">
    <p>free shipping on all domestic and EU orders over £50 | no duties
     applied to orders outside UK until they are*</p>
   </div>
</div>

<div class="row mobile-shipping-info">
  <div class="m-shipping-info-content columns">
    <p>free shipping on all domestic and EU orders over £50*</p>
  </div>
</div>
<!-- Shipping Info Ends -->

<!-- Desktop: User Signed In (Mobile version incorporated into mobile nav) -->
<div class="row desktop-user-row">
  <div class="user-signed-in columns">
    <% if user_signed_in? %>
     <div class="user-info columns">
       <li><%= link_to 'account', user_path(current_user) %> | </li>
       <li><%= link_to 'sign out', sessions_path, method: :delete %></li>
     </div>
     <div class="shopping">
       <li><%= link_to cart_path do%>
       <%= image_tag("cart.svg") %>
       (<span class="cart-count"><%=current_user.cart_count%></span>)
       <%end%>
     </div>
     <div class="user-info">
     <% else %>
       <li><%= link_to 'sign up', new_user_path %> | </li>
       <li> <%= link_to 'login', new_session_path %></li>
     <% end %>
     </div>
  </div>
</div>
<!-- User Signed In Ends-->

<!-- Desktop Nav -->
<div class="row menu-row">
  <ul class="menu">
    <a href="/"><%= image_tag("logo.svg", class: "logo") %></a>
    <div class="menu-items">
      <div class="treats m-item">
        <li><a href="/categories/2"><%= image_tag("teapot.svg") %></a></li>
        <a href="/categories/2"><p>treats</p></a>
      </div>
      <div class="toys m-item">
        <li><a href="/categories/5"><%= image_tag("toyhorse.svg") %></a></li>
        <a href="/categories/5"><p>toys</p></a>
      </div>
      <div class="apparel m-item">
        <li><a href="/categories/3"><%= image_tag("apparel.svg") %></a></li>
        <a href="/categories/3"><p>apparel</p></a>
      </div>
      <div class="accessories m-item">
        <li><a href="/categories/4"><%= image_tag("accessories.svg") %></a></li>
        <a href="/categories/4"><p>accessories</p></a>
      </div>
      <div class="books m-item">
        <li><a href="/categories/6"><%= image_tag("book.svg") %></a></li>
        <a href="/categories/6"><p>books</p></a>
      </div>
      <div class="bobs m-item">
        <li><a href="/categories/1"><%= image_tag("bobs.svg") %></a></li>
        <a href="/categories/1"><p>bits n' bobs</p></a>
      </div>
    </div>
  </ul>
</div>
<div class="row border-row">
  <div class="nav-border"></div>
</div>
<!-- Desktop Nav Ends -->

<!-- Mobile Nav -->
<div class="row mobile-menu-row">
  <a href="/"><%= image_tag("logo.svg", class: "mobile-logo logo") %></a>
  <input type="checkbox" id="nav" class="hidden"/>
  <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
  <div class="nav-container">
    <div class="nav-items">
      <ul>
        <li><%= form_tag(products_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "search" %>
        <% end %><i class="fa fa-search fa-lg" aria-hidden="true"></i></li>
        <li><a href="/categories/2">treats</a></li>
        <li><a href="/categories/5">toys</a></li>
        <li><a href="/categories/3">apparel</a></li>
        <li><a href="/categories/4">accessories</a></li>
        <li><a href="/categories/6">books</a></li>
        <li><a href="/categories/1">bits n' bobs</a></li>
        <div class="user-contents">
          <% if user_signed_in? %>
             <li><%= link_to 'account', user_path(current_user) %></li>
             <li><%= link_to 'sign out', sessions_path, method: :delete %></li>
             <li><%= link_to cart_path do%>
               <%= image_tag("whitecart.svg", class: "mobile-cart") %>
               (<span class="cart-count"><%=current_user.cart_count%></span>)</li>
            <%end%>
           <% else %>
             <li><%= link_to 'sign up', new_user_path %></li>
             <li><%= link_to 'login', new_session_path %></li>
             </li>
           <% end %>
         </div>
      </ul>
    </div>
  </div>
</div>
<!-- Mobile Nav Ends-->
