  <div class="top-bar columns">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span>
      <a href="/"><%= image_tag("logo.svg") %></a>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-left">
        <div class="treats m-item">
          <li><a href="#"><%= image_tag("teapot.svg") %></a></li>
          <a href="#"><p>treats</p></a>
        </div>
        <div class="toys m-item">
          <li><a href="#"><%= image_tag("toyhorse.svg") %></a></li>
          <a href="#"><p>toys</p></a>
        </div>
        <div class="apparel m-item">
          <li><a href="#"><%= image_tag("apparel.svg") %></a></li>
          <a href="#"><p>apparel</p></a>
        </div>
        <div class="accessories m-item">
          <li><a href="#"><%= image_tag("accessories.svg") %></a></li>
          <a href="#"><p>accessories</p></a>
        </div>
        <div class="books m-item">
          <li><a href="#"><%= image_tag("book.svg") %></a></li>
          <a href="#"><p>books</p></a>
        </div>
        <div class="bobs m-item">
          <li><a href="#"><%= image_tag("bobs.svg") %></a></li>
          <a href="#"><p>bits n' bobs</p></a>
        </div>
        <%#= form_tag(products_path, :method => "get", id: "search-form") do %>
          <%#= text_field_tag :search, params[:search], placeholder: "search products" %>
          <%# end %>
      </div>
    </div>
  </div>
  <div class="nav-border"></div>
