<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "The Brexit Shop" %></title>

    <%= include_gon %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cutive|Raleway:300,400" rel="stylesheet">

  </head>

  <body>

    <%= render "layouts/nav" %>

    <div class="container">
      <p id="notice"><%= notice %></p><p id="alert"><%= alert %></p>
      <%= yield %>

    </div>

  </body>
</html>
